
    server {
        listen 8080;

        root /app/dist/browser/;

        location / {
            try_files $uri $uri/ @wsgi =404;
        }

        location /api/ {
                # There were issues using the wsgi transport for uwsgi,
                # use its built in http server.
                proxy_pass http://127.0.0.1:9090/;
        }
    }
